<footer class="bg-gsdy-peche py-4 text-gray-700">
  <div class="container mx-auto px-4">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <!-- Copyright et version -->
      <div class="mb-4 md:mb-0 text-center md:text-left">
        <p>© {{ currentYear }} GSDY Application</p>
        <p class="text-xs mt-1">Version {{ appVersion }}</p>
      </div>
      
      <!-- Liens utiles -->
      <div class="flex flex-wrap justify-center">
        <a href="#" class="mx-2 hover:text-gsdy-violet transition-colors">Politique de confidentialité</a>
        <a href="#" class="mx-2 hover:text-gsdy-violet transition-colors">Mentions légales</a>
        <a href="#" class="mx-2 hover:text-gsdy-violet transition-colors">Contact</a>
      </div>
    </div>
  </div>
</footer>
